body {
    font-family: 'Titillium Web', sans-serif;
    background: greenyellow
    
}
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}